body {
    background-color: #91a8d0;
    color: #034f84;
}
input {
    font-size: larger;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
hr {
    height: 1px;
    color: #034f84;
    background: #034f84;
    font-size: 0;
    border: 0;
}
img {
    vertical-align: middle;
}
h1 {
    color: #fdfcfc;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}
h2 {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
p, li {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
a {
    color: #fdfcfc;
}
#output {
    padding: 15px;
    padding-top: 0;
    padding-bottom: 5px;
}
.forecast li {
    list-style-type: none;
}

